<%- include('partials/head') %>
<%- include('partials/cotacao') %>  

        
        <p class="para">Quantidade 
            <input type="number" name="quantidade" id="quantidade" min="1" placeholder="Quantidade" value="" required > 
        <button type="submit" class="btn1">Calcular</button>
        </p>
        <br>
        <p class="para p1">Preço atual do Dolar R$ <%= values.bid %></p>
        
    </form>

</div>

   
<%- include('partials/footer') %>